blinker==1.9.0
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///D:/bld/cffi_1725560649097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click==8.1.8
colorama==0.4.6
filelock==3.13.1
Flask==3.0.0
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
fsspec==2024.6.1
greenlet==3.1.1
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
itsdangerous==2.2.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib==1.4.2
MarkupSafe @ file:///D:/bld/markupsafe_1733219610373/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
networkx==2.8.4
numpy==2.1.2
pandas==2.2.3
pillow==11.0.0
psutil==7.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML @ file:///D:/bld/pyyaml_1737454681229/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
SQLAlchemy==2.0.40
sympy==1.13.1
threadpoolctl==3.6.0
torchaudio==2.4.0
torchdata==0.11.0
torchvision==0.19.0
tqdm==4.67.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1743820059/work
tzdata==2025.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
Werkzeug==3.1.3
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zstandard==0.23.0
